{namespace vh=Tx_Blsvspstbauantrag_ViewHelpers}
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<vh:zoombuttons />
<div class='zoomarea'>
	<h1>Edit Kleinantrag</h1>
	
	<f:flashMessages />
	
	<f:render partial="FormErrors" />
	
	<f:form action="update" name="kleinantrag" object="{kleinantrag}" >
	<f:render partial="Kleinantrag/FormFields" arguments="{kleinantrag:kleinantrag}" />
		<f:form.submit value="Save" />
	</f:form>
</div>
</f:section>