{namespace vh=Tx_Blsvspstbauantrag_ViewHelpers}
<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<vh:zoombuttons />
<div class='zoomarea'>
	<h1>New Kleinantrag</h1>
	
	<f:flashMessages />
	
	<f:render partial="FormErrors" />
	
	<f:form action="create"  name="newKleinantrag" object="{newKleinantrag}">
	<f:render partial="Kleinantrag/FormFields" />
		<f:form.submit value="Create new" />
	</f:form>
</div>
</f:section>