
<br /><br /><br />
<h2><f:translate key='tx_blsvspstbauantrag_domain_model_antragsanforderung.legende' /></h2>
<table class="legende">
	
	<tr>
		<th class="linksoben" style="width:50%"><f:translate key='tx_blsvspstbauantrag_domain_model_antragsanforderung.status' /></th>
		<th class="rechtsoben"style="width:50%"><f:translate key='tx_blsvspstbauantrag_domain_model_antragsanforderung.aktionen' /></th>
	</tr>
	<tr>
		<td><div class="status1" ></div> <f:translate key='tx_blsvspstbauantrag_domain_model_antragsanforderung.status1' /></td>
		<td><div class="editicon">&nbsp;</div> <f:translate key='tx_blsvspstbauantrag_domain_model_antragsanforderung.editaktion' /></td>
	</tr>	
	<tr>
		<td><div class="status2" ></div> <f:translate key='tx_blsvspstbauantrag_domain_model_antragsanforderung.status2' /></td>
		<td><div class="viewicon">&nbsp;</div> <f:translate key='tx_blsvspstbauantrag_domain_model_antragsanforderung.viewaktion' /></td>
	</tr>
	<tr>
		<td><div class="status3" ></div> <f:translate key='tx_blsvspstbauantrag_domain_model_antragsanforderung.status3' /></td>
		<td><div class="sendicon">&nbsp;</div> <f:translate key='tx_blsvspstbauantrag_domain_model_antragsanforderung.abgebenaktion' /></td>
	</tr>
	<tr>
		<td><div class="status4" ></div> <f:translate key='tx_blsvspstbauantrag_domain_model_antragsanforderung.status4' /></td>
		<td><div class="vorzeitigerbaubeginn1" ></div> <f:translate key='tx_blsvspstbauantrag_domain_model_antragsanforderung.vorzeitigerbaubeginn1' /></td>
	</tr>	
	<tr>
		<td><div class="status5" ></div> <f:translate key='tx_blsvspstbauantrag_domain_model_antragsanforderung.status5' /></td>
		<td></td>
	</tr>	
	<tr>
		<td><div class="status6" ></div> <f:translate key='tx_blsvspstbauantrag_domain_model_antragsanforderung.status6' /></td>
		<td></td>
	</tr>	
	<tr>
		<td><div class="status7" ></div> <f:translate key='tx_blsvspstbauantrag_domain_model_antragsanforderung.status7' /></td>
		<td></td>
	</tr>		
	<tr>
		<td><div class="status8" ></div> <f:translate key='tx_blsvspstbauantrag_domain_model_antragsanforderung.status8' /></td>
		<td></td>
	</tr>		
	<tr>
		<td><div class="status9" ></div> <f:translate key='tx_blsvspstbauantrag_domain_model_antragsanforderung.status9' /></td>
		<td></td>
	</tr>		
</table>

