<label for="heading">
	<f:translate key="tx_blsvspstbauantrag_domain_model_hilfetexte.heading" />
</label><br />
	<f:form.textarea property="heading" cols="40" rows="15" /><br />
<label for="hilfekurz">
	<f:translate key="tx_blsvspstbauantrag_domain_model_hilfetexte.hilfekurz" />
</label><br />
	<f:form.textfield property="hilfekurz" /><br />
<label for="hilfelang">
	<f:translate key="tx_blsvspstbauantrag_domain_model_hilfetexte.hilfelang" />
</label><br />
	<f:form.textarea property="hilfelang" cols="40" rows="15" /><br />