{namespace vh=Tx_Blsvspstbauantrag_ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<vh:zoombuttons />
<div class='zoomarea'>
	<h1>Listing for Bestandssicherung</h1>
	
	<f:flashMessages />
	
	<table  class="tx_blsvspstbauantrag" >
		<tr>
			<th> </th>
			<th> </th>
		</tr>
	
		<f:for each="{bestandssicherungs}" as="bestandssicherung">
			<tr>
				<td><f:link.action action="edit" arguments="{bestandssicherung : bestandssicherung}">Edit</f:link.action></td>
				<td><f:link.action action="delete" arguments="{bestandssicherung : bestandssicherung}">Delete</f:link.action></td>
			</tr>
		</f:for>
	</table>
	
	<f:link.action action="new">New Bestandssicherung</f:link.action>
</div>
</f:section>